<tr> 
	<td align="center"><%= comment.offering %></td>
	<td align="center"><%= comment.comment %></td>
	<td align="center"><%= comment.date %></td>
	<td align="center"><%= comment.open %></td>
	<td ><%= link_to "Show", locality_street_house_appartament_comment_path(*@path_to_appartament, comment) %></td>
</tr>