<%= form_for(@house, url: locality_street_houses_path(@locality, @street)) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :liability %>
    <%= f.select :liability, [['Частный', 'Частный'], ['Блок', 'Блок']] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
