<p id="notice"><%= notice %></p>

<h1>Accommodations</h1>

<table>
  <thead>
    <tr>
      <th>Locality</th>
      <th>Street</th>
      <th>House</th>
      <th>Kind</th>
      <th>Appartement</th>
      <th>Dog</th>
      <th>Имена хозяев</th>
      <td>Конфессия</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.locality.name %></td>
        <td><%= accommodation.street %></td>
        <td><%= accommodation.house %></td>
        <td><%= accommodation.kind %></td>
        <td><%= accommodation.appartement %></td>
        <td><%= accommodation.dog_presence %></td>
        <td><%= accommodation.host_name %></td>
        <td><%= accommodation.religion %></td>
        <td><%= link_to 'Show', accommodation %></td>
        <td><%= link_to 'Edit', edit_accommodation_path(accommodation) %></td>
        <td><%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accommodation', new_accommodation_path %>
