<p id="notice"><%= notice %></p>

<p>
  <strong>Locality:</strong>
  <%= @accommodation.locality %>
</p>

<p>
  <strong>Street:</strong>
  <%= @accommodation.street %>
</p>

<p>
  <strong>House:</strong>
  <%= @accommodation.house %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @accommodation.kind %>
</p>

<p>
  <strong>Appartement:</strong>
  <%= @accommodation.appartement %>
</p>

<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
